
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddItem</title>
</head>
<body>
    <h1>Add Item</h1>

    <div>
        <label>Enter Name: </label>
        <input id="txtName" type="text" name="txtName" />
        <br />
        <label>Enter Description: </label>
        <input id="txtDescription" type="text" name="txtDescription" />
        <br />
        <label>Enter Price: </label>
        <input id="txtPrice" type="text" name="txtPrice" />
        <br />
        <label>Enter Quantity Available: </label>
        <input id="txtQuantity" type="text" name="txtQuantity" />
    </div>
</body>
</html>
